/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--hind);
}

:root {
  /* font family */
  --hind: "Hind", sans-serif;
  --poppins: "Poppins", sans-serif;
  /* color */
  --dark: #1d1d1d;
  --basic: #fff;
  --primary: #f0206b;
  --general: #717171;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: var(--poppins);
}

p {
  font-style: var(--hind);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.active {
  color: var(--primary);
}

/* === NAVBAR === */

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: 0.3s ease-in-out;
}

nav a {
  color: var(--basic);
}

.navigation {
  width: 60%;
  gap: 1em;
}

.navigation a {
  display: inline-block;
  padding: 1.5em 0.7em;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.navigation a:hover {
  color: var(--primary);
}

.hamBtn {
  display: none;
}

.hamBtn span {
  color: var(--basic);
}

/* === END NAVBAR === */

/* === HERO SECTION === */

#hero {
  height: 100vh;
  background-color: var(--dark);
  color: var(--basic);
  position: relative;
  overflow: hidden;
}

#hero video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#hero figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero figcaption svg path:first-child {
  stroke-dasharray: 444;
  stroke-dashoffset: 444;
  animation: textAnimate 2s ease-in-out 5s forwards;
}

#hero figcaption svg path:nth-child(2) {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: textAnimate 2s ease-in-out 5.1s forwards;
}

#hero figcaption svg path:nth-child(3) {
  stroke-dasharray: 322;
  stroke-dashoffset: 322;
  animation: textAnimate 2s ease-in-out 5.2s forwards;
}

#hero figcaption svg path:nth-child(4) {
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
  animation: textAnimate 2s ease-in-out 5.3s forwards;
}

#hero figcaption svg path:nth-child(5) {
  stroke-dasharray: 478;
  stroke-dashoffset: 478;
  animation: textAnimate 2s ease-in-out 5.4s forwards;
}

#hero figcaption svg path:nth-child(6) {
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
  animation: textAnimate 2s ease-in-out 5.5s forwards;
}

#hero figcaption svg path:nth-child(7) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  animation: textAnimate 2s ease-in-out 5.6s forwards;
}

#hero figcaption svg path:nth-child(8) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  animation: textAnimate 2s ease-in-out 5.7s forwards;
}

#hero figcaption svg path:last-child {
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
  animation: textAnimate 2s ease-in-out 5.8s forwards;
}

@keyframes textAnimate {
  0% {
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--basic);
  }
}

.hero-headline {
  max-width: 400px;
  text-align: center;
  transform: translateY(-10px);
  opacity: 0;
  transition: 0.3s ease-in-out;
  animation: heroHeadline 0.5s ease-in-out 6s forwards;
}

.hero-headline a {
  display: inline-block;
  padding: 0.8em 1.5em;
  width: 100%;
  border-radius: 10px;
  color: var(--basic);
  background-color: var(--primary);
  margin-top: 1.2em;
}

@keyframes heroHeadline {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* === END HERO SECTION === */

/* === ABOUT === */

#about {
  padding: 5em 0;
  position: relative;
  overflow: hidden;
}

#about a {
  color: var(--dark);
}

#about p {
  color: var(--general);
}

#about .row {
  gap: 2em;
  flex-wrap: wrap;
}

#about .col {
  flex: 1 1;
}

#about .desc .detail-desc {
  margin: 1em 0;
  text-align: justify;
}

#about ul {
  justify-content: flex-start;
  gap: 1em;
  margin-top: 2em;
}

#about .photo-review {
  position: relative;
  /* border: 1px solid black; */
}

#about .photo-review::after {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 0 30px 0 30px;
  border: 3px solid var(--primary);
}

.photo-review img {
  width: 100%;
  border-radius: 0 30px 0 30px;
}

/* === END ABOUT ==== */

/* === PREVIEW ROOMS === */

#our-rooms {
  padding: 3em 0;
}

#our-rooms .row {
  margin-top: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.card-room .card-header {
  height: 250px;
  background-color: var(--dark);
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  justify-content: center;
}

.card-header img {
  max-width: 100%;
  object-fit: cover;
}

.discount-mark {
  font-size: 0.9rem;
  color: var(--general);
}

.room-desc {
  align-items: flex-start;
}

.modals {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
}

.modals.popup {
  transform: translateY(0);
}

.modals .container {
  justify-content: center;
}

.detail-card-rooms {
  max-width: 312px;
  background-color: var(--basic);
  padding: 10px;
  font-size: 0.8rem;
  position: absolute;
  display: none;
}

.detail-card-header {
  overflow: hidden;
  position: relative;
}

.detail-card-header img {
  object-fit: cover;
  max-width: 300px;
}

.detail-card-header figcaption {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  color: var(--basic);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.detail-card-desc {
  position: relative;
}

.detail-card-desc .tab {
  margin-bottom: 1em;
}

.detail-card-desc .tab a {
  color: var(--dark);
}

.detail-card-desc .tab li {
  padding: 0.5em;
  border-bottom: 1px solid var(--general);
}

.detail-card-desc figcaption {
  overflow: scroll;
  align-items: flex-start;
  transition: 0.3s ease-in-out;
  scroll-behavior: smooth;
}

.detail-card-desc figcaption::-webkit-scrollbar {
  display: none;
}

.detail-card-desc figcaption .col {
  flex: 0 0 100%;
  padding: 10px;
}

.detail-card-desc form .row {
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5em;
  margin-top: 0.5em !important;
}

.detail-card-desc .room-facilities ul {
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.detail-card-desc .room-facilities ul li {
  flex: 0 0 100px;
}

.detail-card-desc form .row input {
  width: 120px;
  padding: 5px;
}

.detail-card-desc .checkout {
  margin-top: 1.5em;
  width: 100%;
  padding: 1em;
  background-color: var(--primary);
  color: var(--basic);
  border: none;
  border-radius: 5px;
}

/* === END PREVIEW ROOMS === */

/* === FOOTER ==== */

footer {
  background-color: var(--dark);
  /* padding: 1em 0; */
  color: var(--basic);
}

footer a {
  color: var(--basic);
}

footer .row {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  margin: 2em 0;
}

footer h3 {
  margin-bottom: 0.8em;
}

footer h4 {
  margin: 0.8em 0;
}

footer ul li {
  margin: 10px 0;
}

.socmed {
  justify-content: flex-start;
  gap: 1em;
}

.author {
  text-align: center;
  padding: 1em 0;
}

.booking {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  min-width: 20%;
  display: none;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  color: var(--basic);
  border: none;
  background-color: var(--primary);
}

.booking.show {
  display: inline-block;
}

/* === END FOOTER === */

/* RESPONSIVE */
/* TABLET VIEW */
@media screen and (max-width: 885px) {
  /* NAVBAR RESPONSIVE */

  nav {
    padding: 1em 0;
  }

  .hamBtn {
    display: block;
    position: relative;
    z-index: 1;
  }

  .hamBtn span.show {
    color: var(--dark);
  }

  .navigation {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--basic);
    padding: 0 1em;
    transition: 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .navigation.show {
    transform: translateX(0);
  }

  .navigation a {
    width: 100%;
    color: var(--dark);
    border-radius: 10px;
    text-shadow: none;
  }

  .navigation a:hover {
    background-color: rgb(171, 171, 171);
    color: var(--basic);
    text-shadow: none;
  }

  /* NAVBAR ABOUT */

  #about p {
    font-size: 0.8rem;
  }

  #about .col {
    flex: 0 0 100%;
  }

  /* FACILITIES */

  #facilities .row {
    grid-template-areas:
      "convention convention"
      "restaurant playground";
  }

  #facilities .row .col {
    height: 300px;
  }
}

/* SMARTPHONE VIEW */
@media screen and (max-width: 412px) {
  /* HERO RESPONSIVE */

  #hero svg {
    max-width: 300px;
  }

  .hero-headline {
    max-width: 312px;
  }

  /* ABOUT RESPONSIVE */
  .desc {
    order: 2;
  }

  .photo-review {
    order: 1;
  }
}
