/*? global clearing */

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--hind);
}

:root {
  /* font family */
  --hind: "Hind", sans-serif;
  --poppins: "Poppins", sans-serif;
  /* color */
  --dark: #1d1d1d;
  --basic: #fff;
  --primary: #f0206b;
  --general: #717171;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
}

p {
  font-family: var(--hind);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.active {
  color: var(--primary);
}

/* NAVBAR */

nav {
  position: sticky;
  top: 0;
  padding: 1em 0;
  background-color: var(--basic);
  border: 1px solid var(--general);
}

.back {
  justify-content: flex-start;
  gap: 10px;
  color: var(--dark);
}

/* END NAVBAR */

/* ROOMS */

#rooms {
  padding: 2em 0;
}

#rooms .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

#rooms .slide {
  height: 300px;
  background-color: var(--dark);
}

.room-detail .desc,
.facilities {
  margin: 1em 0;
}

.room-detail figcaption h3 {
  margin-bottom: 10px;
}

.room-detail figcaption p {
  color: var(--general);
  text-align: justify;
}

.facilities ul {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

/* END ROOMS */
