/*? global clearing */

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--hind);
}

:root {
  /* font family */
  --hind: "Hind", sans-serif;
  --poppins: "Poppins", sans-serif;
  /* color */
  --dark: #1d1d1d;
  --basic: #fff;
  --primary: #f0206b;
  --general: #717171;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
}

p {
  font-family: var(--hind);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

.active {
  color: var(--primary);
}

/* NAVBAR */

nav {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 1em 0;
  background-color: var(--basic);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.back {
  justify-content: flex-start;
  gap: 10px;
  color: var(--dark);
}

/* END NAVBAR */

/* ROOMS DETAILS */

#rooms {
  padding: 2em 0;
}

#rooms .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

#rooms .photo-preview {
  display: block;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
}

.photo-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-preview .preview-hover {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.photo-preview:hover .preview-hover {
  transform: scale(1);
}

.slider {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: 0.3s ease-in-out;
  transform: scale(0);
}

.slider .container {
  overflow: hidden;
  justify-content: center;
}

.slider .carousel {
  width: 637px;
  overflow: hidden;
}

.slider .carousel img {
  width: 100%;
}

#prevBtn {
  justify-content: center;
  background: none;
  border: none;
  color: var(--basic);
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
}

#nextBtn {
  justify-content: center;
  background: none;
  border: none;
  color: var(--basic);
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%);
}

#closePreview {
  justify-content: center;
  background: none;
  border: none;
  color: var(--basic);
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.room-detail .desc,
.facilities {
  margin: 1em 0;
}

.room-detail figcaption h3 {
  margin-bottom: 10px;
}

.room-detail figcaption p {
  color: var(--general);
  text-align: justify;
}

.facilities ul,
.specification ul {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

.specification ul li,
.facilities ul li {
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  font-size: 0.9rem;
}

.specification .head-size {
  margin-bottom: 1em;
}

.book-room {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin-top: 1.5em;
  border: 1px solid var(--general);
  padding: 1em;
  border-radius: 10px;
}

.book-room input {
  width: 100%;
  padding: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 10px 0;
  border-bottom: 1px solid var(--general);
}

.total-book {
  margin-top: 1.5em;
  align-items: center;
}

.book-btn {
  padding: 1em 2em;
  border: none;
  background-color: var(--primary);
  color: var(--basic);
  border-radius: 5px;
}

.book-btn:focus {
  background-color: #bb1350;
}

.qty-rooms,
.date-in {
  gap: 1em;
}

.qty-rooms figcaption,
.date-in figcaption {
  width: 100%;
}

.term ul li {
  list-style: circle;
  margin: 10px 0;
  margin-left: 1.2em;
  text-align: justify;
  color: var(--general);
}

/* END ROOMS DETAILS */

/* SIMILAR ROOMS */

#similar-rooms {
  padding: 2em 0;
  background-color: #ececec;
  color: var(--dark);
}

#similar-rooms a {
  color: var(--dark);
}

#similar-rooms .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
  margin-top: 1em;
}

#similar-rooms .card-room {
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.card-header {
  width: 100%;
  height: 300px;
}

.card-header img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.room-desc {
  margin-top: 1em;
}

.more {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 1.5em auto;
}

/* END SIMILAR ROOMS */

/* === FOOTER ==== */

footer {
  background-color: var(--dark);
  padding: 1.3em 0;
  color: var(--basic);
}

footer a {
  color: var(--basic);
}

footer a:hover {
  color: var(--primary);
}

footer .row {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  /* margin: 2em 0; */
}

footer h3 {
  margin-bottom: 0.8em;
}

footer h4 {
  margin: 0.8em 0;
}

footer ul li {
  margin: 10px 0;
  list-style: inside;
  justify-content: flex-start !important;
  gap: 10px;
}

.socmed {
  justify-content: flex-start;
  gap: 1em;
}

.author {
  text-align: center;
  padding: 1em 0;
  margin-top: 1em;
  border-top: 1px solid var(--general);
}

.booking {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  min-width: 20%;
  display: none;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  color: var(--basic);
  border: none;
  background-color: var(--primary);
}

.booking.show {
  display: inline-block;
}

/* === END FOOTER === */
